.welcome > p {
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -2.5%;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero img {
  width: 100%;
  max-width: 1320px;
  border-radius: 40px;
}

.container.chat {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.chat-bubble {
  position: relative; /* 꼬리(가상 요소)의 기준점 */
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 50vw;
  max-width: 80%;
  padding: 65px 55px;
  border-radius: 1rem; /* 둥근 모서리 */
  margin: 0 auto;
  background-color: var(--bs-chat-bubble-bg); /* 회색 배경 */
  color: var(--bs-chat-bubble-color); /* 어두운 글자 */
}

.chat-bubble.right {
  text-align: right;
}

.chat-bubble.right::after {
  content: '';
  position: absolute;
  /* 꼬리 위치 설정 (오른쪽 가운데) */
  top: 50%;
  transform: translateY(-50%);
  right: -35px; /* 말풍선 본체 밖으로 빼기 */
  z-index: -99;
  /* 삼각형 만들기 (border 트릭) */
  border-width: 35px 0 35px 50px; /* 위, 오른쪽, 아래, 왼쪽 테두리 두께 */
  border-style: solid;
  border-color: transparent transparent transparent var(--bs-chat-bubble-bg);
  /* 투명 / 투명 / 투명 / 배경색*/
}

.chat-bubble.left {
  text-align: left;
}

.chat-bubble.left::after {
  content: '';
  position: absolute;
  /* 꼬리 위치 설정 (왼쪽 가운데) */
  top: 50%;
  transform: translateY(-50%);
  left: -35px; /* 말풍선 본체 밖으로 빼기 */

  z-index: -99;
  /* 삼각형 만들기 (border 트릭) */
  border-width: 35px 50px 35px 0; /* 위, 오른쪽, 아래, 왼쪽 테두리 두께 */
  border-style: solid;
  border-color: transparent var(--bs-chat-bubble-bg) transparent transparent;
  /* 투명 / 배경색 / 투명 / 투명 */
}
