footer {
  background-color: var(--bs-footer-bg);

  position: static;
  height: 275px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 57px 60px 50px 60px;
  font-size: 0.8125rem;
}
